// Initialisation d'une scrollbar visible au hover pour la partie main de l'acceuil

::-webkit-scrollbar {
  width: 0px;
  background-color: #ff60604d;
  border-bottom-right-radius: $primary-radius;
  border-top-right-radius: $primary-radius;
  animation-duration: 2s;
  animation-fill-mode: both;
}

::-webkit-scrollbar-thumb {
  background-color: #f99595c9;
  border-bottom-right-radius: $primary-radius;
  border-top-right-radius: $primary-radius;
}

.main:hover::-webkit-scrollbar {
  width: 15px;
  animation-name: slideout;
}
