.card {
  background: linear-gradient($card-linear-gradiant), $color-primary;
  border-radius: $secondary-radius;
  margin: 20px;
  height: $card-size;
  width: $card-size;
  position: relative;
  @include respond-to("small") {
    max-width: $mobile-width;
    height: $card-size-mobile-height;
    margin: 20px 0;
  }
  &--img {
    height: 270px;
    width: $card-size;
    object-fit: cover;
    border-top-left-radius: $secondary-radius;
    border-top-right-radius: $secondary-radius;
    @include respond-to("small") {
      max-width: $mobile-width;
      height: 185px;
    }
  }

  &__title {
    bottom: 10px;
    color: $white;
    font-size: 18px;
    margin: 10px;
    position: absolute;
    width: 90%;
  }
}
