@import "./mixin";
.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: $desktop-width;
  margin: auto;
  @include respond-to("small") {
    max-width: $mobile-width;
  }
  &__logo {
    img {
      height: 64px;
      @include respond-to("small") {
        height: 47px;
      }
    }
  }
  &__nav {
    &__ul {
      display: flex;
      margin-right: -15px;

      a {
        text-decoration: none;
        font-size: 24px;
        padding: 10px;
        margin: 10px;
        @include respond-to("small") {
          font-size: 12px;
          margin: 5px;
        }

        li {
          color: $color-primary;
          transition: 0.2s;
          cursor: pointer;

          &:hover {
            color: $color-3;
          }
        }
      }

      &--active {
        position: relative;

        &::after {
          content: "";
          height: 2px;
          width: 0;
          background: $color-primary;
          position: absolute;
          bottom: 0px;
          left: 50%;
          transform: translateX(-50%);
          -webkit-animation: anim 0.3s ease forwards;
          animation: anim 0.6s ease forwards;

          @-webkit-keyframes anim {
            to {
              width: 100%;
            }
          }
          @keyframes anim {
            to {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
