.fiche__tags {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  // width: $desktop-width;
  // @include respond-to("small") {
  //   width: $mobile-width;
  // }

  &__container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $tag-height;
  border-radius: $secondary-radius;
  color: $white;
  background-color: $color-primary;
  margin: 20px 10px 20px 0;
  &__name {
    font-size: $tag-font;
    margin: 10px;
    @include respond-to("small") {
      font-size: $tag-font-mobile;
      margin: 15px 10px;
    }
  }
}
