.fiche__tags {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  &__container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    @include respond-to("small") {
      flex-flow: row wrap;
    }
  }
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $tag-height;
  border-radius: $secondary-radius;
  color: $white;
  background-color: $color-primary;
  margin: 20px 10px 20px 0;
  min-width: 84px;
  @include respond-to("small") {
    margin: 10px 10px 10px 0;
    border-radius: $tertiary-radius;
  }
  &__name {
    font-size: $tag-font;
    margin: 10px;
    @include respond-to("small") {
      font-size: $tag-font-mobile;
      margin: 15px 10px;
    }
  }
}
