.fiche__tags {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: $desktop-width;

  &__container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $tag-height;

  border-radius: $secondary-radius;
  color: $white;
  background-color: $color-primary;
  margin-right: 10px;
  &__name {
    font-size: $tag-font;
    margin: 10px;
  }
}
